.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: -15px;
  }

  &__item {
    width: 450px;

    margin-bottom: 30px;

    &:nth-last-child(3) {
    }

    // margin-right: 30px;

    @media screen and (min-width: 768px) {
      width: 354px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }

    &:nth-child(3n) {
      @media screen and (min-width: 1200px) {
        margin-right: 0;
      }
    }

    &:nth-child(-n + 6) {
      @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    display: block;
    color: $color;

    transition-property: transform, box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__container {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px;
  }

  &__name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__about {
    line-height: 1.88;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $color-gray;
  }
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);

  transition-property: transform;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
  }

  & > .overlay__text {
    color: $background-color;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 63px 24px;
  }
}
