/*======= Header =======*/
.header {
  z-index: 1;
  border-bottom: 1px solid $border-color;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
}

.main-nav {
  
  @media screen and (max-width: 767px) {
   padding-left: 15px;
   padding-right: 15px;
  }
 
}

.header-nav {
background-color: #fff;

  @media screen and (min-width: 480px) {
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  
  }
}

.navigation {
  @media screen and (max-width: 767px) {
   
  }
}

.header-nav__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}

.header-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;

  color: $color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }

  &--active {
    position: relative;
    color: $accent-color;
  }
}

.contacts {
  display: block;
  @media screen and (max-width: 767px) {
    
  }
}

.contact__link {
  display: block;

  letter-spacing: 0.02em;
  color: $color-gray;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.contact__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

}

.contact__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__list {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 64px;
    margin-bottom: 48px;

  }

  .contacts__link {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: $accent-color;
    outline: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      color: $accent-color-second;
      outline: none;
    }
  }

  .line {
    color: $color-gray;
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
