.main-nav {
}

.navigation {
  @media screen and (min-width: 1200px) {
    margin-right: 300px;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
 
  }
}

.contact__link {
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
  }
  &:not(:last-child) {
    margin-right: 30px;
  }
}
