.features-list {
  
  padding-left: 0;


  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: -15px;
  }

  &__item {
    

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    &::before {
      display: block;
      content: "";

      height: 120px;
      margin-bottom: 30px;

      background: $second-background-color;
      border-radius: 4px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__about {
    color: $color-gray;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.icon-antenna::before {
  background-size: 70px;
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-size: 70px;
  background-image: url("../images/clock.svg");
}

.icon-diagram::before {
  background-size: 70px;
  background-image: url("../images/diagram.svg");
}

.icon-astronaut::before {
  background-size: 70px;
  background-image: url("../images/astronaut.svg");
}

// @each $iconName in $iconList {
//   .icon-#{$iconName}::before {
//     background-size: 70px;
//     background-image: url("../images/#{$iconName}.svg");
//   }
// }