$color: #212121;
$color-gray: #757575;
$social-color: #afb1b8;
$accent-color: #2196f3;
$accent-color-second: #188CE8;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$background-color: #ffffff;
$border-color: #ececec;
$second-background-color: #f5f4fa;
$third-background-color: #2f303a;
$main-font-family: "Roboto";
$second-font-family: "Raleway";
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$icons: "icon-antenna", "icon-clock", "icon-diagram", "icon-astronaut";